#navbar {
  display: block;
  background: #cdfcc1;
  border-top: 1px solid #94d6a5;
  border-bottom: 1px solid #94d6a5;
  width: 100%;
  clear: both;
}
#navbar a {
  margin: .1em 2em;
  font-size: .9em;
  font-weight: 600;
  color: #338800;
}
#nav {
  display: none;
  margin: 0;
  position: relative;
  background: #cdfcc1;
  width: 100%;
  min-height: 17em;
}
#nav li {
  margin: 0;
}
#page-menu, #year-menu {
  float: left;
  margin-top: 0;
}
#content {
  margin: 0;
  padding: 0 2%;
  clear: right;
  min-height: 0;
}
div.sponsor {
  width: 45%;
}
