.homepage-sponsors .sponsor {
  float: left;
}

.homepage-sponsors .sponsor img {
  height: 120px;
  margin: 0 10px 20px 0;
}

.logo-and-content {
  padding-top: 10px;
  padding-left: 210px;
  margin-bottom: 10px;
  overflow: auto;
  page-break-inside: avoid;
  /*clear: left;*/
}

.logo-and-content h3 {
  margin-top: 0;
}

.logo-and-content .logo img {
  width: 200px;
  float: left;
  margin-left: -210px;
}

.q-and-a {
  border-bottom: solid 1px silver;
  margin-bottom: 10px;
}

.q-and-a .question {
  font-weight: bold;
}