#logo, #header, #nav, #navbar, .no-print {
  display: none;
}
#content {
  padding: 0;
}
body {
  font-size: 13px;
}
.logo-and-content {
  padding-left: 160px;
}

.logo-and-content .logo img {
  width: 150px;
  margin-left: -160px;
}
